path {
    stroke-linejoin: round;
    stroke-miterlimit: 2;
    stroke-linecap: round;
}

.red{
    background: #61dafb;
}

.red:hover{
    background: #9a9a9a;
}

.vis-item.vis-selected{
    background: #b2b2b2 !important;
}